html,
body {
  padding: 0;
  margin: 0;
font-family: 'Poppins', sans-serif;
font-family: 'Source Code Pro', monospace;    background-color:;
    overflow-x:hidden ;
}

a {
  color: inherit;
  
}
link{
  text-decoration: none;
}

a:hover { text-decoration: none; }

* {
  box-sizing: border-box;
}

.dark{
  background-color: black;
}