
  
  .column{
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .mainrow{
    margin-left: 20px;
    color: rgb(17, 16, 16)
    
  }
  
  .posters{
    display:inline-flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
    
  }
  .cardtest{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    align-items: center;
    background-color: rgb(152, 205, 236);
    border-color: rgb(248, 248, 217);
    border-style: outset;
    border-radius: 20px;
    color: crimson;
    font-family: monospace;
  }
  
  .posters::-webkit-scrollbar{
    display: none;
  }
  
  
  .poster{
    max-height: 10px;
    margin-right: 10px;
    
  
  }
  
  .titt{
    margin-left: 12px;
    font-family: monospace;
    
  }
  .welcome{
    font-family: OCR A Std, monospace;
    align-items: center;
  }

  .typeheading{
      color: rgb(3, 5, 109);
      margin-left: 12px;
      font-family: Bahnschrift SemiBold;
      
    transition: 0.3s;
    max-height: 70px;
    margin-right: 12px;
    max-width: 100%;

  }
 

  .detailscard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    padding: 40px;
    margin-bottom: 20px;
    
    align-items: center;
    background-color: rgb(152, 205, 236);
    border-color: rgb(248, 248, 217);
    border-style: outset;
    border-radius: 20px;
    color: crimson;
    font-family: monospace;
  }


  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .detailscard {width: 75%;
      margin-left: 190px;
    }
    .detailsimage{
      align-items: center;
      
      
    };
    

    
  }

  .detailspokemonname{
    color: white;
    font-weight: bold;
    text-align: center;
    
    
  }

  .detailstype{
    text-align: center;
    margin-left: 2px;
    
  }

  .detailsimage{
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
    
  }

  .progressbar1{
    width: 50%;
  }

  .welcomtext{}
  





  .testposters{
    display:inline-flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
    
  }
  .testcardtest{
    box-shadow: 0 11px 20px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    align-items: center;
    margin-right: 15px;
    
   
    border-radius: 10px;
    color: crimson;
    font-family: monospace;
  }
  
  .testposters::-webkit-scrollbar{
    display: none;
  }
  
  
  .testposter{
    max-height: 10px;
    margin-right: 10px;
    
  
  }
  
  .testpokemonname{
    text-align: center;
    margin-right:8px;
    font-style: italic;
    font-weight: 200;
   
    box-shadow: 0 2px 2px 0 rgba(185, 157, 157, 0.2);
    
  }

  .darkornot{
    color: yellow;
    margin-left: 10px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* Dark Mode CSS */

  .indexbody{
    background-color: black;
  }

  .darktypeheading{
    color: rgb(156, 245, 55);
    margin-left: 12px;
    font-family: Bahnschrift SemiBold;
    
  transition: 0.3s;
  max-height: 70px;
  margin-right: 12px;
  max-width: 100%;

}

.darktestcardtest{
  box-shadow: 0 11px 20px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  width: 70%;
  background-color: rgb(12, 19, 19);
  align-items: center;
  margin-right: 15px;
  
 
  border-radius: 10px;
  color: white;
  font-family: monospace;
}

